<p>test-page works!</p>

<!-- 
    Iterates through the json array, showing things in an unordered list 
    Does not need to be an unordered list.
    KEYUP used to update on each button press. can use blur instead, or buttons, etc
-->

<div>
    <p>test input:</p>
    <input type="text" id="ssn" name="ssn" #ssn (keyup)="changeEvent($event)" />
    <button (click)="addSSN(ssn.value)">ADD SSN</button>
    <p>{{ssn.value}}</p>
</div>
<div>
    <p>Example of an unordered list:</p>
    @for(item of jsonArray; track item.title) {
      <ul>
        <li>{{item.title}}</li>
        <li>{{item.body}}</li>
        <li>{{item.number}}</li>
        <li>{{item.ssn}}</li>
        <li>{{item.btnssn}}</li>
      </ul>
      
    }
</div>

<div>
    <p>For the table, the SSN row will fill on key up. Every character added will update the JSON object.<br>
        For ButtonSSN, this will only update when the button next to the input is pushed.</p>
    <p>Example of a table:</p>
    @for(item of jsonArray; track item.title) {
        <table >
            <tr>
                <td>Title</td>
                <td>{{item.title}}</td>
            </tr>
            <tr>
                <td>Body</td>
                <td>{{item.body}}</td>
            </tr>
            <tr>
                <td>Number</td>
                <td>{{item.number}}</td>
            </tr>
            <tr>
                <td>SSN</td>
                <td>{{item.ssn}}</td>
            </tr>
            <tr>
                <td>ButtonSSN</td>
                <td>{{item.btnssn}}</td>
            </tr>          
        </table>
        <br>
    }
</div>

<style>
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
</style>